@import url("https://use.typekit.net/pha5hoh.css");

body{
    margin: 0;
    padding: 0;
    background: #fafffe;
    background-size: cover;
}

.menu {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    width: 99%;
    justify-content: flex-end;
}

.menu-item {
    font-size: 35px;
    margin-right: 20px;
}

.menu-item a {
    color: #07637a;
    text-decoration: none;
    transition: all ease-in-out 250ms;
}

.menu-item a:hover{
    color: #b9b9b9;
}

.intro {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    display: flex;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    .intro {
      margin-top: 2%;
      flex-direction: column;
    }
}

#about {
    text-align: left;
    font-size: 12.5px;
    letter-spacing: 0.5px;
    line-height: 22px;
    margin-left: 80px;
    min-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media screen and (max-width: 1000px) {
    #about {
        margin-left: 0px;
    }
}

#desc {
    font-family: roboto-condensed, sans-serif;
    font-size: 20px;
    font-weight: 300;
    line-height: 30px;
}

#hello, h1 {
    font-family: roboto-condensed, sans-serif;
    font-size: 60px;
    font-weight: 550;
    font-style: normal;
    letter-spacing: 4px;
    min-width: 400px;
    margin-bottom: 20px;
}

#headshot {
    width: 400px;
    height: 400px;
    padding: 30px;
    border-radius: 50%;
}

@media screen and (max-width: 1000px) {
    #headshot {
        width: 50%;
        height: auto;
        margin-bottom: 8%;
    }
}
